@use "_variables" as *;

@media screen and(min-width:$desktop-width) {
  body {
    background: $violet url(../images/bg-desktop.svg) 0 0 no-repeat;
    background-size: cover;
  }
  .header {
    padding: 3.4rem 0;
  }

  .header__logo {
    width: 13.7rem;
  }

  .main-content {
    display: flex;
    flex-direction: row;
  }

  .img {
    flex: 0 0 55%;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .text {
    // flex: 0 0 40%;
    text-align: left;
    margin: 3rem 0 0 3.1rem;
  }

  .text__title {
    font-size: 2.5rem;
    margin-top: 1.6rem;
    margin-bottom: 0.5em;
  }
  .text__content {
    font-size: 1.1rem;
    letter-spacing: 0.01em;
    line-height: 1.5em;
    margin-right: 1rem;
  }

  .text__button {
    text-align: center;
    font-size: 1.1rem;
    width: 12.5rem;
    padding: 1.1rem;
  }

  .footer {
    text-align: right;
    padding: 1.5rem 0rem;
  }

  .footer__link {
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;

    &:not(:last-of-type) {
      margin-right: 0.6rem;
    }

    i {
      font-size: 1.2rem;
      line-height: 2.5rem;
    }
  }
}
