@use "_variables" as *;

body {
  background: palegreen;
  font-family: $body-font;
  background: $violet url(../images/bg-mobile.svg) 0 0 no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: $headings-font;
  font-size: 3rem;
  line-height: 1.5em;
}

.page {
  text-align: center;
  max-width: 750px;
  margin: 0 1rem;
}

.header {
  padding: 4rem 0;
}
.header__logo {
  display: block;
}

.img {
  width: 100%;
  height: auto;
  padding: 0 0.5rem;
  margin: 3.5rem 0 7.3rem;
}

.text__title {
  margin-bottom: 0.6em;
}

.text__content {
  font-size: 2rem;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.text__button {
  text-decoration: none;
  background-color: white;
  font-size: 1.4rem;
  font-family: $headings-font;
  padding: 1.2em;
  width: 18em;
  border-radius: 100px;
  display: inline-block;
  color: $violet;
  box-shadow: 0rem 0.3rem 1rem rgba(black, 0.5);

  &:hover {
    background-color: $soft-magenta;
    color: white;
  }
}

.footer {
  padding: 8rem 0;
}

.footer__link {
  font-size: 1.7rem;
  border: 1px solid white;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100px;
  color: white;

  &:not(:last-of-type) {
    margin-right: 2rem;
  }

  &:hover {
    color: $soft-magenta;
    border-color: $soft-magenta;
  }

  i {
    vertical-align: middle;
    line-height: 3.5rem;
  }
}
