// Colors
$violet: hsl(257, 40%, 49%);
$soft-magente: hsl(300, 69%, 71%);

// Typography
$headings-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;

// fontawesome

$fa-font-path: "../webfonts";
